[run]
source = zope.i18n
omit =
    */flycheck_*py

[paths]
source =
    src/
    .tox/*/lib/python*/site-packages/
    .tox/pypy*/site-packages/

[report]
precision = 2
exclude_lines =
    pragma: no cover
    if __name__ == '__main__':
    raise NotImplementedError
    self.fail
    raise AssertionError
