[buildout]
develop = .
parts = test sphinx

[test]
recipe = zc.recipe.testrunner
eggs = zope.i18n [zcml,compile,test]
defaults = ['--all']

[sphinx]
recipe = zc.recipe.egg
eggs =
    Sphinx
    zope.i18n
